.mbta-route-bus {
  background-color: var(--colors-brand-bus);
  color: var(--colors-black);
  fill: var(--colors-brand-bus);
}

.mbta-route-silver-line {
  background-color: var(--colors-silver-line);
  color: var(--colors-white);
  fill: var(--colors-silver-line);
}

.mbta-route-commuter-rail {
  background-color: var(--colors-commuter-rail);
  color: var(--colors-white);
  fill: var(--colors-commuter-rail);
}

.mbta-route-ferry {
  background-color: var(--colors-ferry);
  color: var(--colors-white);
  fill: var(--colors-ferry);
}

.mbta-route-green-line {
  background-color: var(--colors-green-line);
  color: var(--colors-white);
  fill: var(--colors-green-line);
}

.mbta-route-orange-line {
  background-color: var(--colors-orange-line);
  color: var(--colors-white);
  fill: var(--colors-orange-line);
}

.mbta-route-red-line {
  background-color: var(--colors-red-line);
  color: var(--colors-white);
  fill: var(--colors-red-line);
}

.mbta-route-blue-line {
  background-color: var(--colors-blue-line);
  color: var(--colors-white);
  fill: var(--colors-blue-line);
}
