@import "@mbta/rider-design-system/dist/variables.light.css" (prefers-color-scheme: light);
@import "@mbta/rider-design-system/dist/variables.dark.css" (prefers-color-scheme: dark);
@import "default.css";
@import "components.css";

.mbta-metro-web {
  background-color: var(--background-primary);
  color: var(--text-primary);
  font-family: "Inter", "Helvetica Neue", "Helvetica", "Arial", system-ui, sans-serif;
}

.psb {
  pre {
    overflow: hidden;
  }
}
