@import "../../priv/design-system/variables.base.css";
@import "../../priv/design-system/variables.light.css";
@import "../../priv/design-system/variables.dark.css";
@import "default.css";
@import "components.css";

.mbta-metro-web {
  background-color: var(--background-primary);
  color: var(--text-primary);
  font-family: "Inter", "Helvetica Neue", "Helvetica", "Arial", system-ui, sans-serif;
}

.psb {
  pre {
    overflow: hidden;
  }
}
