@layer tailwind-base, metro;
@import "./../../priv/dist/metro.css" layer(metro);

@layer tailwind-base {
  @config "./../tailwind.storybook.config.js";
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
}

.mbta-metro-web {
  font-family: var(--font-family-base);
}

.mbta-metro-web a {
  color: var(--colors-action-primary-default);
  font-weight: 500;
  text-decoration: underline;
}

.mbta-metro-web p {
  margin-block: var(--spacing-md);
}

body.psb {
  background-color: var(--colors-background-primary);
  color: var(--colors-text-primary);
}

.psb {
  pre {
    overflow: hidden;
  }

  .p {
    padding: 0;
  }
}
