.mbta-button {
  align-items: center;
  border-radius: var(--border-radius-default);
  border-width: var(--border-width-default);
  column-gap: var(--spacing-sm);
  display: inline-flex;
  font-family: var(--font-family-base);
  font-size: var(--font-size-default);
  font-weight: 500;
  line-height: var(--line-height-default);
  padding-bottom: var(--spacing-sm);
  padding-top: var(--spacing-sm);
  padding-left: var(--spacing-default);
  padding-right: var(--spacing-default);
  transition: background-color var(--transition-duration-default) ease;

  &[aria-disabled] {
    cursor: not-allowed;
  }
  &:focus,
  &:focus-within {
    outline: var(--spacing-xs) solid var(--colors-focus);
    outline-offset: 0;
  }
}

.mbta-button-small {
  font-size: var(--font-size-sm);
  padding-bottom: var(--spacing-xs);
  padding-top: var(--spacing-xs);
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
}

.mbta-button-primary {
  background-color: var(--button-primary-default-background-color);
  border-color: var(--button-primary-default-border-color);
  color: var(--button-primary-default-text-color);

  &:hover,
  &:active {
    background-color: var(--button-primary-active-background-color);
    border-color: var(--button-primary-active-border-color);
    color: var(--button-primary-active-text-color);
  }
}

.mbta-button-secondary {
  background-color: var(--button-secondary-default-background-color);
  border-color: var(--button-secondary-default-border-color);
  color: var(--button-secondary-default-text-color);

  &:hover {
    background-color: var(--button-secondary-hover-background-color);
    border-color: var(--button-secondary-hover-border-color);
    color: var(--button-secondary-hover-text-color);
  }

  &:active {
    background-color: var(--button-secondary-active-background-color);
    border-color: var(--button-secondary-active-border-color);
    color: var(--button-secondary-active-text-color);
  }
}

.mbta-button-tertiary {
  background-color: var(--button-tertiary-default-background-color);
  border-color: var(--button-tertiary-default-border-color);
  color: var(--button-tertiary-default-text-color);

  &:hover {
    background-color: var(--button-tertiary-hover-background-color);
    border-color: var(--button-tertiary-hover-border-color);
    color: var(--button-tertiary-hover-text-color);
  }

  &:active {
    background-color: var(--button-tertiary-active-background-color);
    border-color: var(--button-tertiary-active-border-color);
    color: var(--button-tertiary-active-text-color);
  }
}
