@import "../../node_modules/flatpickr/dist/flatpickr.min.css";

.flatpickr-mobile {
  border: 1px solid var(--colors-cobalt-30);
  border-radius: .25rem;
  width: calc(100% - 2.5rem);

  &~a[data-toggle] {
    position: unset;
  }
}

.flatpickr-months {
  .flatpickr-month {
    color: inherit;
  }
}

.flatpickr-current-month {
  .flatpickr-monthDropdown-months {
    font-weight: 500;
  }

  .cur-year {
    font-weight: 200;
  }

  .cur-year[disabled],
  .cur-year[disabled]:hover {
    color: inherit;
  }
}

.flatpickr-day {
  border: none;
}

.flatpickr-time input {
  font-size: inherit;
}

.flatpickr-calendar {
  font-size: inherit;
  line-height: inherit;
}

.flatpickr-day.selected {
  background-color: var(--colors-cobalt-30);
  border-color: var(--colors-white);
  color: var(--colors-white);

  &:hover {
    background-color: var(--colors-cobalt-90);
    border-color: var(--colors-white);
    color: var(--colors-cobalt-30);
  }
}

.mbta-date-picker {
  .mbta-date-picker--input {
    position: relative;

    a[data-toggle] {
      position: absolute;
      right: var(--spacing-4);
      top: calc(var(--spacing-3) + 1px);
    }

    .mbta-input {
      padding-right: 2rem;
      width: 100%;
      min-width: 16.875rem;

      &.form-control[readonly] {
        background-color: var(--colors-white);
      }
    }
  }

  .mbta-date-picker--icon {
    fill: var(--colors-action-primary-default);
    height: var(--spacing-4);
    width: var(--spacing-4);
  }

  .mbta-date-picker--icon-error {
    fill: var(--colors-error-default-foreground);
  }
}
