dialog.mbta-modal {
  background-color: var(--colors-background-primary);
  border: var(--border-width-xs) solid var(--colors-charcoal-70);
  color: var(--colors-text-primary);
  padding: var(--spacing-lg);
  max-width: 100dvw;
  max-height: 100dvh;
  width: clamp(420px, 40rem, 55%);
  box-shadow: 0 7px 14px 0 color-mix(in srgb, var(--colors-charcoal-10), transparent 80%);
  z-index: 1000;

  form[method="dialog"] {
    background-color: var(--colors-cobalt-90);
    margin-top: calc(var(--spacing-lg) * -1);
    margin-inline: calc(var(--spacing-lg) * -1);
    margin-bottom: var(--spacing-lg);
    padding-block: var(--spacing-default);
    padding-inline: var(--spacing-lg);
    text-align: right;
  }
}

@media (max-width: 429px) {
  dialog.mbta-modal {
    height: 100dvh;
    overflow: scroll;
    width: 100dvw;
  }
}
