name: Deploy to Staging

on:
  workflow_dispatch:
  push:
    branches: [main]

concurrency:
  group: deploy-staging
  cancel-in-progress: true

jobs:
  deploy:
    name: Deploy to Staging
    uses: ./.github/workflows/deploy.yml
    with:
      environment: staging
    secrets: inherit
